.cache
.bash_profile
.cargo
.bash_profile
.bash_history
.bashrc
.gitconfig
.gitmodules
.npmrc
.nvidia-settings-rc
.steampath
.steampid
.bash_logout
.yarnrc
.zshrc
larbs.sh
moliendo.ovpn
package-lock.json
package.json
*.png
steam.desktop
.Xauthority
.cmake
.git
.gnupg
.gradle
.mozilla
.npm
.npm-packages
.oh-my-zsh
.pki
.purple
.putty
.rustup
.ssh
.steam
.vscode
.w3m
.waterfox
BackEnd
Downloads
FrontEnd
gamemode
Games
GoLang
paru
Python
Screenshots
vimwiki
.config/balena-etcher
.config/BraveSoftware
.config/cef_user_data
.config/configstore
.config/discord
.config/dconf
.config/Electron
.config/lutris
.config/menus
.config/obs-studio
.config/Code
.config/gatsby
.config/calibre
.config/GIMP
.config/pulse
.local/include
.local/lib
.local/share
.local/share/bg
